* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100vh;
    background-color: rgb(128, 241, 236);
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    margin: 10px;
    background-color: rgb(165, 241, 241);
    border: 1px solid rgb(113, 230, 230);
    border-radius: 30px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    height: 100vh;
    width: 100%;
}

.sidebar {
    display: grid;
    grid-template: 1fr 2fr 3fr / 1fr 3fr;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    background-color: rgb(51, 140, 145);
    font-weight: 700;
    gap: 10px; 
    height: 100vh;
    grid-column: 1 / 2;
}

.dashbar {
    margin-top: 15px;
    margin-left: 8px;
    display: flex;
    gap: 10px;
}

.iconcolumn {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    grid-row-start: 2;
    height: 40px;
    width: 40px;
    margin-left: 12px;
}

.textcolumn {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-left: -155px;
    margin-right: 10px;
    grid-row-start: 2;
}

#dashicon {
    height: 50px;
    width: 50px;
}

#magnify,
#notif {
    height: 30px;
    width: 30px;
}

#atitle,
#ttitle {
    font-weight: 600;
    font-size: larger;
    
}

input {
    border: 1px solid grey;
    border-radius: 20px;
    height: 30px;
    flex: 1;
}

#dashtext {
    grid-column-start: 2;
    font-size: 27px;
    margin-top: 5px;
}

.iconcolumn :nth-child(1),
.textcolumn :nth-child(1) {
    margin-top: 70px;
}

.iconcolumn :nth-child(7),
.textcolumn :nth-child(7) {
    margin-top: 70px;
}

.header {
    grid-area: 1 / 1 / 2 / -1;
    grid-column-start: 1;
    background-color: rgb(237, 240, 241);
    border-top-right-radius: 30px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 2fr;
    height: 200px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 15px -3px rgba(0,0,0,0.75);
}

.search {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    align-self: center;
}

.notifs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: large;
    align-self: center;
}

.profile {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: large;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.button {
    display: flex;
    margin-right: 60px;
    gap: 70px;
    justify-self: end;
    align-self: center;
}

.cards {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 100px;
    width: 70%;
    padding: 15px;
    gap: 15px;
}

.cards > div {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: x-large;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 330px;
    background-color: rgb(50, 124, 114);
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 20px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 15px -3px rgba(0,0,0,0.75);
}

.content {
    display: grid;
    grid-template: 1fr 3fr / 3fr 1fr;
}

.cardlogos {
    height: 150px;
    width: 125px;
}

.cardlogos:hover {
    cursor: pointer;
}

.news {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.announce {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 15px -3px rgba(0,0,0,0.75);
    margin-top: 5px;
    border: 1px solid white;
    background-color: #fff;
}

.trending {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    margin-top: 8px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 15px -3px rgba(0,0,0,0.75);
}

.trenderlogo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trendertext {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    padding-right: 0px;
}

.username {
    font-weight: 600;
}

.desc {
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.5);
}

#ttitle {
    margin-top: 10px;
}

.atitles {
    font-weight: 600;
}

button {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(89, 225, 230);
    font-weight: 800;
    height: 40px;
    width: 90px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 5px -3px rgba(0,0,0,0.75);
}

#notif {
    margin-top: 10px;
    margin-left: 40%;
}

#logo {
    height: 50px;
    width: 50px;
}

#logo2 {
    margin-left: 30px;
    height: 60px;
    width: 60px;
}

#topprofiletext {
    font-size: small;
}