* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: rgb(128, 241, 236);
    overflow: hidden;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10px;
    background-color: rgb(165, 241, 241);
    border: 1px solid rgb(113, 230, 230);
    border-radius: 30px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    width: 100%;
}

.sidebar {
    display: grid;
    grid-template: 1fr 2fr 3fr / 1fr 3fr;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: x-large;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(51, 140, 145);
    font-weight: 700;
    gap: 10px; 
    height: 930px;
    grid-column: 1 / 2;
}

.dashbar {
    margin-top: 15px;
    margin-left: 8px;
    display: flex;
    gap: 10px;
}

.iconcolumn {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    grid-row-start: 2;
    height: 40px;
    width: 40px;
    margin-left: 12px;
}

.textcolumn {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-left: -155px;
    margin-right: 10px;
    grid-row-start: 2;
}

#dashicon {
    height: 50px;
    width: 50px;
}

#magnify,
#notif {
    height: 30px;
    width: 30px;
}

input {
    border: 1px solid grey;
    border-radius: 20px;
    height: 30px;
    flex: 1;
}

#dashtext {
    grid-column-start: 2;
    font-size: 27px;
    margin-top: 5px;
}

.iconcolumn :nth-child(1),
.textcolumn :nth-child(1) {
    margin-top: 70px;
}

.iconcolumn :nth-child(7),
.textcolumn :nth-child(7) {
    margin-top: 70px;
}

.header {
    background-color: rgb(237, 240, 241);
    border-top-right-radius: 30px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 2fr;
    height: 150px;
}

.search {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    align-self: center;
}

.notifs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: large;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
}

.profile {
    display: flex;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: large;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.button {
    display: flex;
    margin-right: 60px;
    gap: 70px;
    justify-self: end;
    align-self: center;
}

button {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(89, 225, 230);
    font-weight: 800;
    height: 40px;
    width: 90px;
    -webkit-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 19px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 5px -3px rgba(0,0,0,0.75);
}

#notif {
    margin-top: 10px;
    margin-left: 40%;
}

#logo {
    height: 50px;
    width: 50px;
}

#logo2 {
    margin-left: 30px;
    height: 60px;
    width: 60px;
}

#topprofiletext {
    font-size: small;
}